<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Alpha Technologies</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="./css/LineIcons.css">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="./css/magnific-popup.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="./css/slick.css">
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="./css/animate.css">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="./css/default.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!--====== PRELOADER PART START ======-->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR PART START ======-->
    <section class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="./images/logo-horizontal.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#portfolio">PORTFOLIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#client">CLIENTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">CONTACT</a>
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

        <div id="home" class="slider-area">
            <div class="bd-example">
                <div id="carouselOne" class="carousel slide d-none d-lg-block" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselOne" data-slide-to="1"></li>
                        <li data-target="#carouselOne" data-slide-to="2"></li>
                        <li data-target="#carouselOne" data-slide-to="3"></li>
                        <li data-target="#carouselOne" data-slide-to="4"></li>
                        <li data-target="#carouselOne" data-slide-to="5"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item bg_cover active" style=" background-image: url(./images/banner/fire.png)">
                        </div> <!-- carousel-item -->
                        <div class="carousel-item bg_cover" style=" background-image: url(./images/banner/acs.png)">
                        </div> <!-- carousel-item -->
                        <div class="carousel-item bg_cover" style=" background-image: url(./images/banner/bms.png)">
                        </div> <!-- carousel-item -->
                        <div class="carousel-item bg_cover" style=" background-image: url(./images/banner/cctv.png)">
                        </div> <!-- carousel-item -->
                        <div class="carousel-item bg_cover" style=" background-image: url(./images/banner/gate.png)">
                        </div> <!-- carousel-item -->
                        <div class="carousel-item bg_cover" style=" background-image: url(./images/banner/pa.png)">
                        </div> <!-- carousel-item -->

                        <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                            <i class="lni-arrow-left-circle"></i>
                        </a>

                        <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                            <i class="lni-arrow-right-circle"></i>
                        </a>
                    </div> <!-- carousel -->
                </div> <!-- bd-example -->
            </div>
        </div>
    </section>
    <!--====== NAVBAR PART ENDS ======-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--====== FOOTER FOUR PART START ======-->
    <footer id="footer" class="footer-area">
        @*<div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Company</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Profile</a></li>
                            </ul>
                        </div>  footer link 
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Solutions</h6>
                            <ul>
                                <li><a href="#">Facilities Services</a></li>
                                <li><a href="#">Workplace Staffing</a></li>
                                <li><a href="#">Project Management</a></li>
                            </ul>
                        </div>  footer link 
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Product & Services</h6>
                            <ul>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Developer</a></li>
                            </ul>
                        </div>  footer link 
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Help & Suport</h6>
                            <ul>
                                <li><a href="#">Support Center</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>  footer link 
                    </div>
                </div>  row 
            </div>  container 
        </div>  footer widget*@ 
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p class="text">Alpha Technologies © 2021 </p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-logo text-center mt-10">
                            <a href="index.html"><img src="./images/Logo png.png" alt="Logo"></a>
                        </div> <!-- footer logo -->
                    </div>
                    <!--<div class="col-lg-5">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="https://facebook.com/uideckHQ"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="https://twitter.com/uideckHQ"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="https://instagram.com/uideckHQ"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                        </ul>--> <!-- social -->
                    <!--</div>-->
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>
    <!--====== FOOTER FOUR PART ENDS ======-->
    <!--====== BACK TOP TOP PART START ======-->
    @*<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>*@
    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== Scripts ======-->
    <!--====== jquery js ======-->
    <script src="./js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="./js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="./js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="./js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="./js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="./js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="./js/scrolling-nav.js"></script>
    <script src="./js/jquery.easing.min.js"></script>

    <!--====== wow js ======-->
    <script src="./js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="./js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>